* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display:table;
    clear:both;
}

body {
        background-image: url();
}

.container {
    width: 60vw;
    margin: 0 auto;
}

header {
    height: 300px;
    margin-top: 10px;
}

.titolo {
    height: 250px;
    background-color: blue;
}
nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: orange;
}

li {
    display: inline;
    margin: auto 20px;
}
