* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display:table;
    clear:both;
}

body {
    width: 95vw;
    height: 97vh;
    margin: auto;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fsf.co.ua%2F13%2F07%2Fwallpaper-2940906.jpg&f=1&nofb=1);
}

header {
    height: 25%;
}

.titolo {
    height: calc(100% - 60px);
    margin: 10px auto;
    border: solid black;
    overflow: hidden;
}

.dentro-titolo {
    padding 10px;
    background-color: white;
}
.img-titolo {
    object-fit: contain;

}

.menu {
    height: 40px;
    background-color: #ab7e35;
    color: white;
    text-align: center;
    line-height: 38px;
    border: solid black;
}

li {
    display:inline;
    padding: 10px 25px;
    border:  black;
    margin: 0 25px;
    border-right: solid black;
    border-left: solid black;
}

.blocco-centrale {
    height: 65%;
    margin-top: 15px;
}

main {
    margin: 0 auto;
    width: 50%;
    height: 95%;
    background-color: red;
    border: solid black;
    float:left;
}

.latsx {
    margin: 0 5% 0 0;
    float:left;
    width: 20%;
    height: 70%;
    border: solid black;
    background-color: yellow;
}

.latdx {
    overflow: auto;
}

.latdx1 {
    margin: 0 0 0 5%;
    float:right;
    width: 20%;
    height: 30%;
    border: solid black;
    background-color: purple;
}

.latdx2 {
    margin: 10px 0 0 5%;
    float:right;
    width: 20%;
    height: 20%;
    border: solid black;
    background-color: pink;
}

  footer {
    height:8%;
    border: solid black;
    background-color: green;
    margin-top:5px;
}
